#8bb7f0 

#8bb7f0          <span style="display:inline-block;width:16px;height:16px;background:#8bb7f0;border:1px solid #ccc;"></span> 
#4e7ab5           <span style="display:inline-block;width:16px;height:16px;background:#4e7ab5;border:1px solid #ccc;"></span> 
#deb974           <span style="display:inline-block;width:16px;height:16px;background:#deb974;border:1px solid #ccc;"></span> 
#967a44           <span style="display:inline-block;width:16px;height:16px;background:#967a44;border:1px solid #ccc;"></span> 
#f5ce85           <span style="display:inline-block;width:16px;height:16px;background:#f5ce85;border:1px solid #ccc;"></span> 
#a6714e           <span style="display:inline-block;width:16px;height:16px;background:#a6714e;border:1px solid #ccc;"></span> 
#7a4f34           <span style="display:inline-block;width:16px;height:16px;background:#7a4f34;border:1px solid #ccc;"></span> 
#bae0bd           <span style="display:inline-block;width:16px;height:16px;background:#bae0bd;border:1px solid #ccc;"></span> 
#5e9c76           <span style="display:inline-block;width:16px;height:16px;background:#5e9c76;border:1px solid #ccc;"></span> 
#ffffff (stroke)  <span style="display:inline-block;width:16px;height:16px;background:#ffffff;border:1px solid #ccc;"></span> 
